.navbar {
  height: 100px;
  width: 100%;
  position: fixed;
  box-shadow: 0 4px 6px rgba(42, 14, 97, 0.5);
  background: rgba(3, 0, 20, 0.09);

  z-index: 50;

  .wrapper {
    max-width: 1366px;
    backdrop-filter: blur(10px);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    span {
      font-weight: bold;
    }
    .social {
      display: flex;
      gap: 20px;

      img {
        width: 25px;
       
      }
    }
  }
}
